#nav_tab {
    width: fit-content;
    padding: 10px;
    pointer-events: all;
    position: absolute;
    top: 5%;
    z-index: 10;
}

.nav_btn {
    background-color: rgba(82, 82, 82, 0.2);
    transition: 0.2s;
}

.nav_btn:hover {
    background-color: rgba(200, 200, 200, 0.40);
    cursor: pointer;
}

header {
    display: flex;
    justify-content: center;
}

canvas{
    height: 100%;
    width: 100%;
}

body {
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    height: 100%;
    max-width: 100vw;
    pointer-events: none;
}

#home_details {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    translate: -8px 0%;
    align-items: center;
    flex-direction: row;
    position: fixed;
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    bottom: 0;
}

#home_text {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    width: 50%;
}

.descriptive_text {
    font-size: 1.2em;
    color: #222222;
    max-width: 70%;
}

h1 {
    font-size: 5em;
    color: #5b2333;
    margin: 0;
}

h4 {
    font-size: 2.5em;
    color: #222222;
    margin: 0;
}

a {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #222222;
    color: #f7f4f3;
    transition: all 0.5s;
    pointer-events: all;
    text-decoration: none;
}

a:hover {
    background: #464646;
    color: #f7f4f3;
}

.custom-shape-divider-bottom-1742317700 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1742317700 svg {
    position: relative;
    display: block;
    width: calc(151% + 1.3px);
    height: 112px;
}

.custom-shape-divider-bottom-1742317700 .shape-fill {
    fill: #5b2333;
}